.doc-top-nav {
  display: none; }

.doc {
  margin-top: 27px; }

.doc-nav {
  top: 76px; }

.post-subtitle {
  font-size: 15px;
  line-height: 20px;
  padding: 5px 0;
  color: #333333; }

.post-extract {
  font-size: 15px;
  line-height: 20px;
  padding: 5px 0;
  border: none;
  color: #000000; }

.read-more {
  padding-top: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-decoration-line: underline; }

.post-title a, .post-subtitle a, .read-more a {
  color: #2fa4cf; }
  .post-title a:hover, .post-subtitle a:hover, .read-more a:hover {
    color: #0086B7; }
.post-title.new-post a, .post-subtitle.new-post a, .read-more.new-post a {
  background-image: url("/testcafe/images/newblog-icon.svg");
  background-position: bottom 5px right;
  background-repeat: no-repeat;
  padding-right: 42px; }

.post-subtitle a, .read-more a {
  text-decoration: underline; }
  .post-subtitle a:hover, .read-more a:hover {
    text-decoration: underline; }

.post-title {
  margin-bottom: 0; }

html body .page-content-wrapper .container .doc-nav-panel .doc-nav-panel-header .doc-nav-panel-heading {
  display: none; }
html body .page-content-wrapper .container .doc-nav-panel .doc-nav-panel-header .doc-nav-panel-title {
  font-size: 32px;
  line-height: 32px; }
