html body .page-content-wrapper .survey-banner {
  position: fixed;
  height: auto; }
  html body .page-content-wrapper .survey-banner .survey-banner-message {
    line-height: 20px;
    padding: 10px 30px; }
    html body .page-content-wrapper .survey-banner .survey-banner-message span {
      display: block;
      text-align: left;
      margin: 4px 0; }
      html body .page-content-wrapper .survey-banner .survey-banner-message span.desktop-text {
        display: none; }
      html body .page-content-wrapper .survey-banner .survey-banner-message span.mobile-text {
        display: block; }
  html body .page-content-wrapper .survey-banner .survey-banner-close-button {
    background-position: top 15px right 15px; }
html body .page-content-wrapper .container .doc-nav-panel {
  background-color: #2e688a;
  height: 60px;
  display: block;
  margin-top: 60px; }
  html body .page-content-wrapper .container .doc-nav-panel .toggle-nav-button {
    background-image: url("/testcafe/images/toggle-nav-button.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    float: left;
    margin: 12px 17px 0px 30px; }
  html body .page-content-wrapper .container .doc-nav-panel .doc-nav-panel-header {
    float: left;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 13px; }
    html body .page-content-wrapper .container .doc-nav-panel .doc-nav-panel-header .doc-nav-panel-heading {
      font-size: 16px;
      font-weight: bold;
      line-height: 0.5; }
    html body .page-content-wrapper .container .doc-nav-panel .doc-nav-panel-header .doc-nav-panel-title {
      font-size: 22px; }
html body .page-content-wrapper .container .doc-nav {
  position: fixed;
  top: 120px;
  bottom: 0px;
  width: 100%;
  left: -100%;
  transition: left .2s;
  overflow-y: auto;
  margin: 0;
  background-color: #2e688a;
  color: #fff;
  z-index: 1; }
  html body .page-content-wrapper .container .doc-nav .doc-nav-content {
    margin-top: 0px;
    padding: 0 30px;
    border: none; }
    html body .page-content-wrapper .container .doc-nav .doc-nav-content ul li ul li {
      font-size: 18px;
      font-weight: bold;
      list-style-type: none;
      margin-left: -8px; }
      html body .page-content-wrapper .container .doc-nav .doc-nav-content ul li ul li a {
        display: block;
        margin-left: -15px;
        padding-top: 8px;
        color: #fff; }
      html body .page-content-wrapper .container .doc-nav .doc-nav-content ul li ul li ul li {
        font-size: 16px;
        font-weight: normal;
        list-style-type: inherit; }
        html body .page-content-wrapper .container .doc-nav .doc-nav-content ul li ul li ul li a {
          margin-left: 0; }
  html body .page-content-wrapper .container .doc-nav.active {
    left: 0px; }
html body .page-content-wrapper .container main .doc {
  margin: 0px 30px;
  padding-right: 0px; }
  html body .page-content-wrapper .container main .doc .anchor {
    top: -85px; }
html body .page-content-wrapper .container main .post-content .table-wrapper {
  overflow: scroll;
  margin: 40px 0; }
  html body .page-content-wrapper .container main .post-content .table-wrapper table {
    width: 100%;
    min-width: 500px;
    margin: 0; }
html body .page-content-wrapper .container main .post-content pre > code {
  font-size: 14px;
  padding-left: 0;
  padding-right: 0; }
html body .page-content-wrapper .container main .post-content .table-wrapper::-webkit-scrollbar, html body .page-content-wrapper .container main .post-content pre > code::-webkit-scrollbar {
  -webkit-appearance: none; }
html body .page-content-wrapper .container main .post-content .table-wrapper::-webkit-scrollbar:vertical, html body .page-content-wrapper .container main .post-content pre > code::-webkit-scrollbar:vertical {
  width: 0; }
html body .page-content-wrapper .container main .post-content .table-wrapper::-webkit-scrollbar:horizontal, html body .page-content-wrapper .container main .post-content pre > code::-webkit-scrollbar:horizontal {
  height: 4px; }
html body .page-content-wrapper .container main .post-content .table-wrapper::-webkit-scrollbar-thumb, html body .page-content-wrapper .container main .post-content pre > code::-webkit-scrollbar-thumb {
  background-color: #A4C9DA;
  border: 1px solid #92B7C8;
  box-sizing: border-box;
  border-radius: 2px; }
html body .page-content-wrapper .container main .post-content .table-wrapper::-webkit-scrollbar-track, html body .page-content-wrapper .container main .post-content pre > code::-webkit-scrollbar-track {
  background-color: #E8E8E8;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px; }
html body .page-content-wrapper .survey-banner:not(.hidden) ~ .container {
  padding-top: 0; }
  html body .page-content-wrapper .survey-banner:not(.hidden) ~ .container .doc-nav-panel {
    margin-top: 132px; }
  html body .page-content-wrapper .survey-banner:not(.hidden) ~ .container .doc-nav {
    top: 192px; }
html body .page-content-wrapper .survey-banner:not(.hidden) ~ .site-header {
  top: 72px; }
  html body .page-content-wrapper .survey-banner:not(.hidden) ~ .site-header .site-header-content .site-nav {
    top: 132px; }
