body {
    margin: 0;
}

.how-it-works-section {
    padding: 0 100px;
    min-width: 910px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.how-it-works-wrapper {
    max-width: 1500px;

    margin: 0 auto;
}

.how-it-works-section .how-it-works-content {
    max-width: 1600px;
    position: relative;
    margin-left: -100px;
    padding-left: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.how-it-works-section .how-it-works-content:before, .how-it-works-section .how-it-works-content:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.how-it-works-section .how-it-works-content:before {
    left: 8px;
    background-color: transparent;
    width: 30px;
    background: -webkit-linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)); 
    background: -o-linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)); 
    background: -moz-linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)); 
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
}

.how-it-works-section .how-it-works-content .gallery-wrapper {
    margin-left: -91px;
    overflow: hidden;
    position: relative;
}

.gallery-background {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    left: 1020px;
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.4), rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,1)); 
    background: -o-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.4), rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,1)); 
    background: -moz-linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.4), rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,1)); 
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.4), rgba(255,255,255,0.6), rgba(255,255,255,0.8), rgba(255,255,255,1));
    pointer-events: none;
}

/* gallery arrows */

#main-gallery .dx-gallery-nav-button-prev {
    left: 10px;
}

#main-gallery .dx-gallery-nav-button-next {
    right: 10px;
}

#main-gallery .dx-gallery-nav-button-prev:before, #main-gallery .dx-gallery-nav-button-next:before {
    display: none;
}

#main-gallery .dx-gallery-nav-button-prev, #main-gallery .dx-gallery-nav-button-next {
    height: 110px;
    width: 35px;
    top: 313px;
}

#main-gallery .dx-gallery-nav-button-prev {
    background-image: url("/testcafe/images/landing-page/arrow-left-blue.png");
    z-index: 3;
}

#main-gallery .dx-gallery-nav-button-prev.dx-state-hover, #main-gallery .dx-gallery-nav-button-prev.dx-state-active {
    background-image: url("/testcafe/images/landing-page/arrow-left-yellow.png");
}

#main-gallery .dx-gallery-nav-button-next {
    background-image: url("/testcafe/images/landing-page/arrow-right-blue.png");
}

#main-gallery .dx-gallery-nav-button-next.dx-state-hover, #main-gallery .dx-gallery-nav-button-next.dx-state-active {
    background-image: url("/testcafe/images/landing-page/arrow-right-yellow.png");
}

.dx-gallery-wrapper {
    overflow: visible;
}

/* gallery-item */

#main-gallery .dx-gallery-item .gallery-item-top {
    text-align: left;
}

#main-gallery .dx-gallery-item .gallery-item-number, #main-gallery .dx-gallery-item .gallery-item-text, #main-gallery .dx-gallery-item h3 {
    max-width: 770px;
}

#main-gallery .dx-gallery-item .gallery-item-top-content {
    display: inline-block;
    width: 700px;
    vertical-align: top;
}

#main-gallery .dx-gallery-item .gallery-item-number {
    margin: 0 20px 0 90px;
    width: 56px;
    height: 56px;
    background-color: #8ab2c2;
    border-radius: 28px;
    text-align: center;
    line-height: 56px;
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
}

#main-gallery .dx-gallery-item h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 22px;
    color: #8ab2c2;
    font-weight: 100;
}

#main-gallery .dx-gallery-item .gallery-item-text {
    font-size: 13px;
}

#main-gallery img {
    width: 849px;
    padding-top: 20px;
}

@media only screen and (max-width: 1270px) {
    .how-it-works-section {
        padding-left: 70px;
        padding-right: 70px;
    }

    .how-it-works-section .how-it-works-content:before {
        left: 29px;
    }

    #main-gallery .dx-gallery-nav-button-prev {
        left: 25px;
    }

    #main-gallery .dx-gallery-nav-button-next {
        right: 25px;
    }
}

@media only screen and (min-width: 1750px) {
    #main-gallery .dx-gallery-nav-button-prev {
        left: 0;
    }

    #main-gallery .dx-gallery-nav-button-next {
        right: 0;
    }
}