html {
  min-width: 0; }
  html body {
    min-width: 0;
    font-size: 16px; }
    html body .page-content-wrapper {
      overflow-x: hidden; }
      html body .page-content-wrapper .site-header {
        min-width: 0;
        height: 60px; }
        html body .page-content-wrapper .site-header.fixed {
          position: fixed; }
        html body .page-content-wrapper .site-header .site-header-content {
          min-width: 0;
          padding: 0 0 0 30px;
          position: relative; }
          html body .page-content-wrapper .site-header .site-header-content .site-logo {
            margin: 15px 0; }
          html body .page-content-wrapper .site-header .site-header-content .hamburger-button {
            display: block;
            float: right;
            padding: 21px 30px 20px 30px; }
            html body .page-content-wrapper .site-header .site-header-content .hamburger-button .hamburger-icon {
              height: 20px;
              width: 24px;
              background-image: url("/testcafe/images/hamburger-menu.png");
              cursor: pointer; }
            html body .page-content-wrapper .site-header .site-header-content .hamburger-button.active {
              background-color: #fff; }
              html body .page-content-wrapper .site-header .site-header-content .hamburger-button.active .hamburger-icon {
                background-image: url("/testcafe/images/hamburger-menu-active.png"); }
          html body .page-content-wrapper .site-header .site-header-content .site-nav {
            flex-direction: column;
            align-items: end;
            overflow-y: scroll;
            width: 100%;
            height: auto;
            float: none;
            position: fixed;
            background: #fff;
            top: 60px;
            bottom: 0;
            right: -100%;
            transition: right .2s;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
            z-index: 1; }
            html body .page-content-wrapper .site-header .site-header-content .site-nav .site-nav-tab {
              display: block;
              padding: 0;
              margin-right: 0; }
              html body .page-content-wrapper .site-header .site-header-content .site-nav .site-nav-tab .page-link {
                display: block;
                padding: 9px 7px 9px 30px;
                font-size: 18px; }
              html body .page-content-wrapper .site-header .site-header-content .site-nav .site-nav-tab .doc-menu-item-icon {
                display: inline-block;
                height: 6px;
                width: 10px;
                margin: 0 0 2px 5px;
                background-image: url("/testcafe/images/accordion-arrow-down.png"); }
              html body .page-content-wrapper .site-header .site-header-content .site-nav .site-nav-tab.expanded .doc-menu-item-icon {
                background-image: url("/testcafe/images/accordion-arrow-up.png"); }
              html body .page-content-wrapper .site-header .site-header-content .site-nav .site-nav-tab.active {
                background-color: #fff;
                border-radius: 0; }
              html body .page-content-wrapper .site-header .site-header-content .site-nav .site-nav-tab.new-post {
                background-position: top 11px right; }
              html body .page-content-wrapper .site-header .site-header-content .site-nav .site-nav-tab:nth-child(2) {
                padding: 10px 0 10px; }
                html body .page-content-wrapper .site-header .site-header-content .site-nav .site-nav-tab:nth-child(2) .page-link {
                  display: inline; }
            html body .page-content-wrapper .site-header .site-header-content .site-nav .doc-top-nav {
              display: none;
              position: relative;
              width: auto;
              height: 0;
              top: 0;
              background-color: #fff;
              border: none;
              padding: 5px 0 15px 30px; }
              html body .page-content-wrapper .site-header .site-header-content .site-nav .doc-top-nav .doc-top-nav-content {
                min-width: 0;
                max-width: 100%;
                padding: 0; }
                html body .page-content-wrapper .site-header .site-header-content .site-nav .doc-top-nav .doc-top-nav-content .doc-top-nav-wrapper {
                  margin-left: 0; }
                  html body .page-content-wrapper .site-header .site-header-content .site-nav .doc-top-nav .doc-top-nav-content .doc-top-nav-wrapper .doc-top-nav-tab {
                    display: block;
                    margin: 0;
                    padding: 0; }
                    html body .page-content-wrapper .site-header .site-header-content .site-nav .doc-top-nav .doc-top-nav-content .doc-top-nav-wrapper .doc-top-nav-tab.active {
                      background-color: #fff;
                      border-radius: 0; }
                    html body .page-content-wrapper .site-header .site-header-content .site-nav .doc-top-nav .doc-top-nav-content .doc-top-nav-wrapper .doc-top-nav-tab a {
                      display: block;
                      padding: 5px 0 5px 10px;
                      font-size: 16px;
                      font-weight: normal;
                      color: #404142; }
              html body .page-content-wrapper .site-header .site-header-content .site-nav .doc-top-nav.expanded {
                display: block;
                height: auto; }
            html body .page-content-wrapper .site-header .site-header-content .site-nav .hamburger-button {
              display: block; }
            html body .page-content-wrapper .site-header .site-header-content .site-nav.active {
              right: 0px; }
          html body .page-content-wrapper .site-header .site-header-content .site-header-buttons {
            display: none; }
          html body .page-content-wrapper .site-header .site-header-content #search-panel {
            display: block;
            box-sizing: border-box;
            opacity: 1;
            background-color: #fff;
            padding: 20px 30px 9px 30px;
            top: 0;
            width: 100%; }
            html body .page-content-wrapper .site-header .site-header-content #search-panel .algolia-autocomplete {
              width: 100%; }
              html body .page-content-wrapper .site-header .site-header-content #search-panel .algolia-autocomplete #search {
                font-size: 16px;
                width: 100%;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                box-sizing: border-box; }
              html body .page-content-wrapper .site-header .site-header-content #search-panel .algolia-autocomplete .ds-dropdown-menu {
                min-width: 0; }
            html body .page-content-wrapper .site-header .site-header-content #search-panel #close-search {
              display: none; }
      html body .page-content-wrapper .container {
        padding-left: 0;
        padding-top: 0; }
        html body .page-content-wrapper .container .post {
          padding: 70px 30px 0px;
          min-width: 0; }
        html body .page-content-wrapper .container .blog-title {
          margin-top: 0; }
        html body .page-content-wrapper .container main .faq {
          min-width: 0;
          margin: 0;
          padding: 70px 30px 0; }
    html body .site-footer {
      height: auto;
      z-index: 0; }
      html body .site-footer .site-footer-content {
        padding: 22px 30px;
        text-align: left; }
    html body .cookie-notice {
      top: 10px;
      bottom: auto; }
      html body .cookie-notice .cookie-notice-content {
        flex-direction: column;
        padding: 17px 30px; }
        html body .cookie-notice .cookie-notice-content .cookie-notice-message {
          margin-bottom: 20px;
          width: 100%;
          max-width: initial; }
          html body .cookie-notice .cookie-notice-content .cookie-notice-message .cookie-notice-header {
            font-weight: bold;
            line-height: 21px;
            font-size: 14px; }
          html body .cookie-notice .cookie-notice-content .cookie-notice-message .cookie-notice-text {
            padding-right: 0;
            font-size: 12px; }
        html body .cookie-notice .cookie-notice-content .cookie-notice-button {
          width: 100%;
          padding: 0;
          font-weight: bold;
          line-height: 35px;
          font-size: 18px;
          text-align: center;
          border-radius: 4px;
          box-sizing: border-box;
          height: 40px; }
    html body .cookie-notice .cookie-notice-content {
      flex-direction: column; }
      html body .cookie-notice .cookie-notice-content .cookie-notice-message {
        margin-bottom: 20px; }

#studio-link-tab {
  width: calc(100% - 40px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 67px;
  margin: 10px 20px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  background-image: url("/testcafe/images/studio-logo.svg"), url("/testcafe/images/studio-menu-item-mobile-separator.svg"), linear-gradient(262.6deg, #389ACE 0%, #5CACE8 100%);
  background-position: calc(50% - 65px) center, calc(50% + 32px) center, 0px;
  background-repeat: no-repeat;
  box-shadow: none;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none; }
  #studio-link-tab .page-link {
    padding: 0;
    text-decoration: none;
    color: #fff;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; }
    #studio-link-tab .page-link span {
      display: none; }
    #studio-link-tab .page-link:after {
      position: relative;
      left: calc(50% + 50px);
      content: 'Try our IDE\A for free';
      white-space: pre-wrap;
      line-height: 23px;
      font-weight: normal; }
    @media screen and (max-width: 350px) {
      #studio-link-tab .page-link:after {
        font-size: 15px; } }

@media screen and (max-width: 350px) {
  #studio-link-tab {
    background-position: calc(50% - 48px) center, calc(50% + 40px) center, 0px; } }
