.page-content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fafafa; }

.survey-header-container {
  background-color: rgba(172, 201, 216, 0.1); }
  .survey-header-container .survey-header {
    max-width: 820px;
    margin: 0 auto;
    padding: 32px 30px 41px; }
    .survey-header-container .survey-header h1 {
      font-size: 38px;
      line-height: 51px;
      color: #000000;
      margin-bottom: 9px; }
    .survey-header-container .survey-header .survey-subheader {
      font-size: 18px;
      line-height: 24px;
      color: #404142; }
  .survey-header-container.hidden {
    display: none; }

.survey-container {
  padding: 0 30px 97px; }
  .survey-container #survey {
    max-width: 820px;
    margin: 20px auto 0; }
    .survey-container #survey .sv_q_title {
      font-size: 16px;
      font-weight: bold;
      line-height: 21px;
      color: #000000;
      margin: 0 0 12px 0; }
    .survey-container #survey .sv_q {
      margin-top: 21px;
      font-size: 16px;
      line-height: 32px;
      color: #111111;
      overflow: visible; }
      .survey-container #survey .sv_q .sv_qcbc {
        margin-top: -8px; }
        .survey-container #survey .sv_q .sv_qcbc .sv_q_radiogroup, .survey-container #survey .sv_q .sv_qcbc .sv_q_checkbox {
          padding-right: 0;
          display: block; }
      .survey-container #survey .sv_q textarea[type="text"] {
        display: block !important;
        width: 100%;
        height: 81px;
        border: 2px solid #C8C8C8;
        border-radius: 2px;
        box-sizing: border-box;
        resize: none;
        font-size: 16px;
        font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', Roboto, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
        line-height: 21px;
        padding: 9px 14px;
        margin-bottom: 20px;
        overflow: auto; }
        .survey-container #survey .sv_q textarea[type="text"]:focus {
          border: 2px solid #36B6E5;
          box-shadow: 0px 0px 0px 3px rgba(54, 182, 229, 0.2);
          outline: none; }
        .survey-container #survey .sv_q textarea[type="text"]::placeholder {
          font-size: 16px;
          line-height: 21px;
          color: #737373; }
      .survey-container #survey .sv_q .sv_q_radiogroup_label {
        display: flex;
        align-items: center;
        line-height: 20px;
        margin: 12px auto; }
        .survey-container #survey .sv_q .sv_q_radiogroup_label input[type="radio"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          margin: 0 8px 0 0;
          outline: none;
          border: 2px solid #D5D5D5;
          border-radius: 9px;
          box-sizing: border-box;
          width: 18px;
          height: 18px;
          cursor: pointer; }
          .survey-container #survey .sv_q .sv_q_radiogroup_label input[type="radio"]:checked {
            border: 6px solid #36B6E5;
            background-color: #FFFFFF; }
        .survey-container #survey .sv_q .sv_q_radiogroup_label:first-child {
          margin-top: 9px; }
      .survey-container #survey .sv_q .sv_q_checkbox_label {
        display: flex;
        align-items: center;
        line-height: 20px;
        margin: 12px auto; }
        .survey-container #survey .sv_q .sv_q_checkbox_label input[type="checkbox"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          margin: 0 8px 0 0;
          outline: none;
          border: 2px solid #D5D5D5;
          border-radius: 4px;
          box-sizing: border-box;
          width: 16px;
          height: 16px;
          cursor: pointer; }
          .survey-container #survey .sv_q .sv_q_checkbox_label input[type="checkbox"]:checked {
            border-color: #36B6E5;
            background: #36B6E5 url("/testcafe/images/survey-checkbox.svg");
            background-repeat: no-repeat;
            background-position: center center; }
        .survey-container #survey .sv_q .sv_q_checkbox_label:first-child {
          margin-top: 9px; }
      .survey-container #survey .sv_q .sv_q_rating {
        display: flex;
        margin: 10px 0 20px; }
        .survey-container #survey .sv_q .sv_q_rating .sv_q_rating_item {
          margin-right: 6px;
          width: 70px;
          height: 41px;
          color: #404142;
          background-color: #F0F1F1;
          font-size: 14px;
          line-height: 19px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer; }
          .survey-container #survey .sv_q .sv_q_rating .sv_q_rating_item.active {
            color: #FFFFFF;
            background-color: #36B6E5; }
          .survey-container #survey .sv_q .sv_q_rating .sv_q_rating_item:last-child {
            margin-right: 0; }
      .survey-container #survey .sv_q .sv_q_radiogroup.others, .survey-container #survey .sv_q .sv_q_checkbox.others {
        display: flex;
        align-items: center;
        padding-right: 0;
        margin: 0 0 15px; }
        .survey-container #survey .sv_q .sv_q_radiogroup.others .form-group, .survey-container #survey .sv_q .sv_q_checkbox.others .form-group {
          display: block;
          flex: 1 0 0;
          margin-left: 40px;
          height: 43px; }
      .survey-container #survey .sv_q .form-group {
        display: flex;
        align-items: center; }
        .survey-container #survey .sv_q .form-group > div {
          height: 43px;
          flex-grow: 1;
          margin-left: 40px; }
        .survey-container #survey .sv_q .form-group textarea[type="text"] {
          height: 43px; }
          .survey-container #survey .sv_q .form-group textarea[type="text"]:disabled {
            border: 2px solid #C8C8C8;
            background-color: #fafafa; }
        .survey-container #survey .sv_q .form-group.comment {
          margin: 0 0 15px; }
      .survey-container #survey .sv_q .sv_q_erbox {
        font-size: 16px;
        font-weight: bold;
        color: #FF0000; }
    .survey-container #survey .sv_complete_btn {
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-top: 60px;
      width: 127px;
      height: 46px;
      line-height: 46px;
      text-align: center;
      letter-spacing: 0.01em;
      background: #36B6E5;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
      box-shadow: 0px 4px 10px rgba(54, 182, 229, 0.24);
      border: none;
      border-radius: 4px;
      cursor: pointer; }
  .survey-container.hidden {
    display: none; }

.full-screen-message-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  width: 100%; }
  .full-screen-message-container .message-text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #404142; }
  .full-screen-message-container.hidden {
    display: none; }

.survey-completed-container .survey-completed {
  max-width: 620px;
  padding: 0 30px; }
  .survey-completed-container .survey-completed .completed-header {
    font-size: 38px;
    line-height: 51px;
    text-align: center;
    color: #000000; }
  .survey-completed-container .survey-completed .completed-text {
    margin-top: 9px; }
  .survey-completed-container .survey-completed .completed-button {
    margin: 34px auto 0;
    display: block;
    max-width: 349px;
    height: 46px;
    line-height: 46px;
    color: #FFFFFF;
    background: #36B6E5;
    box-shadow: 0px 4px 10px rgba(54, 182, 229, 0.24);
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
    .survey-completed-container .survey-completed .completed-button:hover {
      text-decoration: none; }

.survey-already-taken .taken-message {
  max-width: 620px;
  padding: 0 30px; }
