<!DOCTYPE html>
<html>
<head>
    <title>Upload completed</title>
</head>
<body>
    <div id="uploadedContent">
        {{#uploadedDataArray}}
            <p>{{{.}}}</p>
        {{/uploadedDataArray}}
    </div>
    <div>
        <span id="errorInfo"></span>
    </div>
    <script>
        window.onerror = function () {
            var errorInfoSpan = document.getElementById('errorInfo');

            errorInfoSpan.textContent = 'Error is raised.'
        }
    </script>
</body>
</html>
