<!DOCTYPE html>
<html>
<head>
    <title>Upload completed</title>
</head>
<body>
<div id="uploadedContent">
    {{#uploadedDataArray}}
        <p>{{{.}}}</p>
    {{/uploadedDataArray}}
</div>
</body>
</html>
