{
  "plugins": [
    "no-only-tests"
  ],
  "env": {
    "browser": true,
    "qunit": true,
    "jquery": true,
    "node": true
  },
  "rules": {
    "no-eval": 0,
    "max-nested-callbacks": 0,
    "no-script-url": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "no-only-tests/no-only-tests": 2
  },
  "globals": {
    /* Utils */
    "async": true,

    /* For more details on global variables see custom-setup.js file */
    "getProperty": true,
    "setProperty": true,
    "initIFrameTestHandler": true
  }
}

