if: NOT (commit_message =~ /^\[docs\]/)

language: node_js
os: linux
dist: xenial
jobs:
  include:
    - node_js: "10"
      env: GULP_TASK="test-server"
    - node_js: "stable"
      env: GULP_TASK="test-server"
    - node_js: "10"
      env: GULP_TASK="test-client-travis"
    - node_js: "10"
      env: GULP_TASK="test-client-travis-mobile"
    - node_js: "10"
      env:
        GULP_TASK="test-functional-local-headless-chrome"
        RETRY_FAILED_TESTS="true"
      addons:
        chrome:  stable
    - node_js: "10"
      env:
        GULP_TASK="test-functional-local-headless-firefox"
        RETRY_FAILED_TESTS="true"
      addons:
        firefox:  latest
    - node_js: "10"
      env: GULP_TASK="test-functional-local-legacy"
      addons:
        chrome:  stable
    - node_js: "10"
      env: GULP_TASK="test-functional-local-compiler-service"
      addons:
        chrome:  stable
    - node_js: "10"
      env: GULP_TASK="test-functional-local-multiple-windows"
      addons:
        chrome:  stable
        firefox:  latest
        apt:
          packages:
            - fluxbox
      services:
        - xvfb
      before_script:
        - fluxbox >/dev/null 2>&1 &
        - sleep 3
    - node_js: "stable"
      env: GULP_TASK="docker-test-travis"
      services:
        - docker

  fast_finish: true

cache:
  directories:
    - $HOME/.npm

install: travis_retry npm install

branches:
  except:
    - /^build-bot-temp-.*$/
    - /^\(testbot-only\)/
    - new-docs

notifications:
  email: false
  webhooks: 
    urls: 
      - secure: "sxkgvw02YZVK9pObC4Es6uZvwqbyeif0rQvODuVk2mByH5Hn6/qI2wabEmzaHDap+nB6KLzTcYmpyONXRJjVgaurEhfJb1zhTEdM2YPgHk7bAAvXpscXglpiGbRRoBkgeqBvv0Q8XOTkn82YBKKG8V2bsw2zXflZJJnHaDoQSSIZHzrgi2kw3KrfpNR6M8tvOg1rkGJu5WTtMN3swh1mKLffys/S8J7EoQohdoB0IXs/0E+1V3hAotT2wG4ae1SVNenoir2iTVp3HnduKo6lGAHwpdklcEwPVdoI7Wlo9QAHyqpEaAum3yMz8U+FYJ64jJ6n72F7lceIHKeQRSnRfhH/6qWe26VZveRrRKGZf9/3MUYQK5Ra4I6nqJGZUGb6bUqLOgHZN4J/QAvCwzu5cMRf9lnlID+2U+WUPWVZnEZB+yFUKAOjpBphHcDFHtwEqwDyT+dNJGKvgbvg0HWwgzciBkGyOm+dAdUZOGt5QvEm7sOhMXDBsF+9upnedcGKpIj+dS59eOieDvr3+HXkKuoH2w7i1ARhVqXx1J/XZf/hcR2yNIn0XPpr2bcMIQRvIftY/WLAs+DxmojSyHPSvIVB9TqJJgw2a4GYR42JZdw03kCzAq5fZvMI2AXWrEVNLBzm/U1EVVFPY5+0WqGxZdz338OxTSDqkp1DHCBm4NQ="
    on_start: always
