language: node_js
matrix:
 include:
  - node_js: "4"
    env: GULP_TASK="test-server"
  - node_js: "stable"
    env: GULP_TASK="test-server"
  - node_js: "stable"
    env: GULP_TASK="test-client-travis"
  - node_js: "stable"
    env: GULP_TASK="test-client-travis-mobile"
    # We use Node 7 here as a temporary workaround. Browsers on OS X sometimes can't open a tested
    # page under Node 8 on BrowserStack for some reason. As a result we have blinking tests.
  - node_js: "stable"
    env: GULP_TASK="test-functional-travis-desktop-osx-and-ms-edge"
  - node_js: "stable"
    env: GULP_TASK="test-functional-travis-mobile"
 fast_finish: true

cache: yarn

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install: yarn

branches:
  except:
    - /^build-bot-temp-.*$/

notifications:
 email: false
