language: node_js
matrix:
 include:
  - node_js: "0.10"
    env: GULP_TASK="test-server"
  - node_js: "4"
    env: GULP_TASK="test-server"
  - node_js: "stable"
    env: GULP_TASK="test-server"
  - node_js: "stable"
    env: GULP_TASK="test-client-travis"
  - node_js: "stable"
    env: GULP_TASK="test-client-travis-mobile"
  - node_js: "stable"
    env: GULP_TASK="test-functional-travis-desktop"
  - node_js: "stable"
    env: GULP_TASK="test-functional-travis-ms-desktop"
  - node_js: "stable"
    env: GULP_TASK="test-functional-travis-mobile"
 fast_finish: true

branches:
  except:
    - /^build-bot-temp-.*$/

notifications:
 email: false
