addons:
 chrome:  stable
 firefox: latest
 apt:
  packages:
   - dbus

language: node_js
matrix:
 include:
  - node_js: "6"
    env: GULP_TASK="test-server"
  - node_js: "stable"
    env: GULP_TASK="test-server"
  - node_js: "stable"
    env: GULP_TASK="test-functional-local-headless"
 fast_finish: true

cache: yarn

before_install:
  - export $(dbus-launch)
  - travis_retry curl -o- -L https://yarnpkg.com/install.sh | bash

install: travis_retry yarn

script:
  - if [[ $TRAVIS_BRANCH == "master" ]]; then retry -n 3 -- gulp travis; else gulp travis; fi

branches:
  except:
    - /^build-bot-temp-.*$/

notifications:
 email: false
