if: NOT (commit_message =~ /^\[docs\]/)

language: node_js
os: linux
dist: xenial
jobs:
  include:
    - node_js: "10"
      env: GULP_TASK="test-server"
    - node_js: "stable"
      env: GULP_TASK="test-server"
    - node_js: "10"
      env: GULP_TASK="test-client-travis"
    - node_js: "10"
      env: GULP_TASK="test-client-travis-mobile"
    - node_js: "10"
      env:
        GULP_TASK="test-functional-local-headless-chrome"
        RETRY_FAILED_TESTS="true"
      addons:
        chrome:  stable
    - node_js: "10"
      env:
        GULP_TASK="test-functional-local-headless-firefox"
        RETRY_FAILED_TESTS="true"
      addons:
        firefox:  latest
    - node_js: "10"
      env: GULP_TASK="test-functional-local-legacy"
      addons:
        chrome:  stable
    - node_js: "10"
      env: GULP_TASK="test-functional-local-compiler-service"
      addons:
        chrome:  stable
    - node_js: "10"
      env: GULP_TASK="test-functional-local-multiple-windows"
      addons:
        chrome:  stable
      services:
        - xvfb
  fast_finish: true

cache:
  directories:
    - $HOME/.npm

install: travis_retry npm install

branches:
  except:
    - /^build-bot-temp-.*$/
    - /^\(testbot-only\)/
    - new-docs

notifications:
  email: false
