version: "#{build}"
clone_depth: 1

skip_commits:
  message: /^\[docs\]/

branches:
  except:
  - new-docs
  - /^\(testbot-only\)/

environment:
  NODEJS_VERSION: "10"
  RETRY_FAILED_TESTS: "true"

  matrix:
    - GULP_TASK: "test-functional-local-ie"

install:
- ps: >-
    iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/set-screenresolution.ps1'))

    Set-ScreenResolution 1920 1080

    Install-Product node $env:NODEJS_VERSION

    choco install GoogleChrome | out-null

    choco install Firefox | out-null

    npm --version

    npm i --loglevel error
build: off

test_script:
- cmd: npm test
