/docs/ @VasilyStrelyaev
/CHANGELOG.md @VasilyStrelyaev
/CODE_OF_CONDUCT.md @VasilyStrelyaev
/CONTRIBUTING.md @VasilyStrelyaev
/README.md @VasilyStrelyaev
/LICENSE @kirovboris @AndreyBelym
/package.json @kirovboris @AndreyBelym
