(function () {
var IframeDriver = window['%testCafeIframeDriver%'];
var driver = new IframeDriver('{{{testRunId}}}', { selectorTimeout: {{{selectorTimeout}}}, dialogHandler: {{{dialogHandler}}} });

driver.start();
})();
