(function () {
    var IframeDriver = window['%testCafeIframeDriver%'];
    var driver       = new IframeDriver({ testRun: {{{testRunId}}} }, {
        selectorTimeout: {{{selectorTimeout}}},
        dialogHandler:   {{{dialogHandler}}},
        speed:           {{{speed}}}
    });

    driver.start();
})();
