(function () {
    var IframeDriver = window['%testCafeIframeDriver%'];
    var driver       = new IframeDriver({{{testRunId}}}, {
        selectorTimeout:  {{{selectorTimeout}}},
        pageLoadTimeout:  {{{pageLoadTimeout}}},
        dialogHandler:    {{{dialogHandler}}},
        retryTestPages:   {{{retryTestPages}}},
        speed:            {{{speed}}},
        nativeAutomation: {{{nativeAutomation}}},
    });

    driver.start();

    Object.defineProperty(window, '%testCafeDriverInstance%', {
        configurable: true,
        value:        driver
    });
})();
