(function () {
    if (window.self !== window.top)
        return;


    var ClientDriver = window['%testCafeDriver%'];
    var driver = new ClientDriver('{{{testRunId}}}', {{{elementAvailabilityTimeout}}}, '{{{browserHeartbeatUrl}}}', '{{{browserStatusUrl}}}');

    driver.start();
})();
