<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <script type="application/x-javascript" src="/browser/assets/index.js"></script>
    <link rel="stylesheet" href="/browser/assets/styles.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="page-background">
    <div class="container">
        <canvas class="spinner"></canvas>
        <div class="status-text-area">
            <img class="logo" src="/browser/assets/logo.svg"/>

            <div class="user-agent">
                <span>{{{userAgent}}}</span>
            </div>
            <div class="status">
                <span></span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    new IdlePage('{{{statusUrl}}}', '{{{heartbeatUrl}}}', '{{{initScriptUrl}}}');
</script>
</body>
</html>
