{
  "plugins": [
    "no-only-tests"
  ],
  "rules": {
    "max-nested-callbacks": [2, 6],
    "no-only-tests/no-only-tests": 2
  },
  "env": {
    "browser": true,
    "jquery": true,
    "mocha": true
  },
  "globals": {
    /* testcafe api */
    "act": true,
    "inIFrame": true,
    "ok": true,
    "notOk": true,
    "eq": true,
    "notEq": true,
    /* functional harness */
    "testCafe": true,
    "runTests": true,
    "testReport": true
  }
}
