<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="application/x-javascript" src="/browser/assets/index.js"></script>
    <script type="text/javascript">
        init('{{{statusUrl}}}');
    </script>
</head>
<body>
{{{userAgent}}}
</body>
</html>
