body,html {width:100%;height:100%;margin:0px;padding:0px;}

#popUp {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#fd8;
    padding:20px;
    text-align:center;
    font:50px /200px arial;
    color:#ffffff;
}
#popUp.close {
    display:none;
}
#popUp:after {
    content:'Закрыть';
    position: absolute;
    top:-30px;
    right:-75px;
    font:10px arial;
    color:#ff0000;
    cursor:pointer;
    font-size: 20px;
    z-index: 1;
}

#boop {
    position:absolute;
    top:20%;
    left:20%;
    transform: translate(-50%,-50%);
    background:#0aa;
    padding:20px;
    text-align:center;
    font:50px /200px arial;
    color:#fff;
    display: none;
}

.timeline {
    position: absolute;
    top: 80%;
    left: 5%;

    max-width: 50em;
    width: 100%;
    height: 20px;
    background-color: grey;
    cursor: pointer;
    position: relative;
}

.timeline_drag {
    width: 20px;
    height: 40px;
    background-color: red;
    z-index: 2;
    transform-origin: 0 0;
}

.timeline_drag::after {
    position:absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform-origin: 0 0;
}

.timeline_progress {
    display: block;
    width: 100%;
    height: 100%;
    background-color: green;
    transform: scaleX(0);
    transform-origin: 0 0;
    z-index: 1;
}
