<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript">
        init({{{id}}}, {{{statusUrl}}});
    </script>
</head>
<body>
{{{userAgent}}}
</body>
</html>
