{
  "rules": {
    "no-unused-expressions": 0
  },
  "globals": {
    "handleConfirm": false,
    "handleBeforeUnload": false,
    "handleAlert": false,
    "handlePrompt": false,
    "getInput": true
  }
}