{
  "compact": false,
  "presets": [
    ["env", {
      "loose": true,
      "exclude": [
        "transform-es2015-typeof-symbol"
      ]
    }]
  ],
  "plugins": [
    "add-module-exports",
    "transform-for-of-as-array"
  ]
}
