{
  "rules": {
    "hammerhead/use-hh-promise": 2
  },
  "env": {
    "browser": true,
    "node": false
  },
  "plugins": [
    "hammerhead"
  ],
  "globals": {
    "exports": true,
    "require": true
  }
}
