{
  "extends": "plugin:hammerhead/recommended",
  "rules": {
    "hammerhead/use-hh-promise": 2,
    "hammerhead/use-native-methods": [2, ["setTimeout", "setInterval", "clearTimeout", "clearInterval"]]
  },
  "env": {
    "browser": true,
    "node": false
  },
  "plugins": [
    "hammerhead"
  ],
  "globals": {
    "exports": true,
    "require": true
  }
}
