{
  "plugins": [
    "no-only-tests"
  ],
  "rules": {
    "no-unused-expressions": 0,
    "max-nested-callbacks": [2, 5],
    "no-only-tests/no-only-tests": 2
  },
  "env": {
    "mocha": true
  }
}
