name: Deploy To Artifacts

on:
  workflow_dispatch:
    inputs:
      sha:
        description: 'The commit ref or SHA'
        required: true
        default: 'master'
      merged_sha:
        description: 'The merge commit SHA'
      base_sha:
        description: 'The base commit SHA'

jobs:
  set-pending-status:
    uses: ./.github/workflows/set-status.yml
    with:
      status: 'pending'
    secrets: inherit

  build:
    needs: set-pending-status
    runs-on: ubuntu-latest
    outputs:
      sha: ${{steps.prep.outputs.sha}}
      failed: ${{ steps.execution-result.outputs.failed || 'false' }}
    steps:
      - name: Build Info
        run: |
          echo "SHA: ${{ github.event.inputs.sha }}"
          echo "Merged SHA: ${{ github.event.inputs.merged_sha }}"
          echo "Deployment run ID: ${{ github.run_id }}"
      - id: prep
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.ACTIVE_TOKEN }}
          script: |
            core.setOutput('sha', context.payload.inputs.merged_sha || context.payload.inputs.sha);
      - uses: actions/checkout@v3
        with:
          ref: ${{steps.prep.outputs.sha}}
      - run: |
          npm i
          npx gulp build
          npm pack
      - id: package-name
        uses: actions/github-script@v6
        with:
          script: |
            const { name, version } = require(require('path').join(process.env.GITHUB_WORKSPACE, 'package.json'));

            core.setOutput('packageName', `${name}-${version}`);
            core.setOutput('imageName', `${name}/${name}:${version}`);

      - uses: actions/upload-artifact@v3
        with:
          name: npm
          path: |
            ${{steps.package-name.outputs.packageName}}.tgz
            package-lock.json
      - run: |
          npx gulp docker-build
          docker save -o ${{steps.package-name.outputs.packageName}}.tar ${{steps.package-name.outputs.imageName}}
      - uses: actions/upload-artifact@v3
        with:
          name: docker
          path: ${{steps.package-name.outputs.packageName}}.tar
      - name: Set failed flag
        id: execution-result
        if: failure() || cancelled()
        run: echo "failed=true" >> "$GITHUB_OUTPUT"

  changes:
    needs: set-pending-status
    # TODO: currently cannot generate a list of changes after rebase
    runs-on: ubuntu-latest
    outputs:
      failed: ${{ steps.execution-result.outputs.failed || 'false' }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.sha }}
          fetch-depth: 0
      - run: |
          git reset --soft `git merge-base "${{github.event.inputs.base_sha}}" HEAD`
          git diff --name-only --cached > changes.txt
      - uses: actions/upload-artifact@v3
        with:
          name: changes
          path: changes.txt
      - name: Set failed flag
        id: execution-result
        if: failure() || cancelled()
        run: echo "failed=true" >> "$GITHUB_OUTPUT"

  set-failure-status:
    needs: [build, changes]
    if: fromJSON(needs.build.outputs.failed) || fromJSON(needs.changes.outputs.failed)
    uses: ./.github/workflows/set-status.yml
    with:
      status: 'failure'
    secrets: inherit

  test:
    needs: set-failure-status
    if: ${{ !cancelled() && !failure() }}
    runs-on: ubuntu-latest
    environment: CI
    outputs:
      failed: ${{ steps.execution-result.outputs.failed || 'false' }}
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: changes
      - uses: actions/github-script@v6
        with:
          github-token: ${{secrets.ACTIVE_TOKEN}}
          script: |
            function getInputs () {
              const { sha, merged_sha } = context.payload.inputs;

              return {
                ...merged_sha ? { merged_sha } : {},
                sha,
                deploy_run_id: '${{github.run_id}}'
              }
            }

            async function dispatchWorkflow (workflowName) {
              await github.rest.actions.createWorkflowDispatch({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: 'master',
                workflow_id: workflowName,
                inputs: getInputs()
              });
            }

            // TODO: Optimize by running only necessary tests for corresponding changes
            const fileList = require('fs').readFileSync('changes.txt').toString().split('\n').filter(line => line);

            const tasks = [];

            tasks.push('test-functional-local-chrome.yml');
            tasks.push('test-functional-local-safari.yml');

            // Temporary disable
            // tasks.push('test-cdp.yml');

            await Promise.all(tasks.map(task => dispatchWorkflow(task)));
      - name: Set failed flag
        id: execution-result
        if: failure() || cancelled()
        run: echo "failed=true" >> "$GITHUB_OUTPUT"

  set-result-status:
    needs: test
    if: ${{ !cancelled() && !failure() }}
    uses: ./.github/workflows/set-status.yml
    with:
      status: ${{fromJSON('["success", "failure"]')[fromJSON(needs.test.outputs.failed)] }}
      artifacts-path: ${{fromJSON('["artifacts", ""]')[fromJSON(needs.test.outputs.failed)] }}
    secrets: inherit