name: Test Functional

on:
  workflow_call:
    inputs:
      test-script:
        required: true
        type: string
      os:
        required: false
        type: string
        default: ubuntu-latest
      node-version:
        required: false
        type: number
        default: 16
      matrix-jobs-count:
        required: false
        type: number
        default: 3
      display:
        required: false
        type: string
        default: ''
      use-public-hostname:
        required: false
        type: boolean
        default: false
      retry_failed_tests:
        required: false
        type: boolean
        default: true
      timeout:
        required: false
        type: number
        default: 25
      is-docker:
        required: false
        type: boolean
        default: false
      is-browserstack:
        required: false
        type: boolean
        default: false
env:
  NO_CACHE: ${{ secrets.NO_CACHE }}

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: "${{ steps.generate-matrix.outputs.result }}"
    steps:
      - uses: actions/github-script@v6
        id: generate-matrix
        with:
          script: |
            return Array.from({length: ${{ inputs.matrix-jobs-count }}}, (_, i) => i + 1)

  test:
    needs: prepare-matrix
    runs-on: ${{ inputs.os }}
    continue-on-error: true
    strategy:
      matrix:
        test-group: ${{ fromJSON(needs.prepare-matrix.outputs.matrix) }}
    environment: test-functional
    env:
      BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      BROWSERSTACK_BUILD_NAME: ${{ format('{0} ({1})', github.workflow, github.run_id) }}
      USE_PUBLIC_HOSTNAME: ${{ inputs.use-public-hostname }}
      RETRY_FAILED_TESTS: ${{ inputs.retry_failed_tests }}
      TEST_GROUPS_COUNT: ${{ inputs.matrix-jobs-count }}
      TEST_GROUP_NUMBER: ${{ matrix.test-group }}
      DISPLAY: ${{ inputs.display }}
    outputs:
      # Matrix jobs cannot collect outputs about each of them automatically. It rewrites the same outputs. Improve it once it will be possible.
      test-1: "${{ steps.save-result.outputs.test_1 }}"
      test-2: "${{ steps.save-result.outputs.test_2 }}"
      test-3: "${{ steps.save-result.outputs.test_3 }}"
    steps:
      - uses: DevExpress/testcafe-build-system/actions/set-status@main
        with:
          status: 'pending'

      - run: sudo safaridriver --enable
        if: ${{ contains(inputs.os, 'macos') }}

      - run: |
          sudo apt install fluxbox
          Xvfb ${{ inputs.display }} -screen 0 1920x1080x24 &
          sleep 3
          fluxbox >/dev/null 2>&1 &
        if: ${{ inputs.display }}
        
      - uses: actions/checkout@v3
        with:
          ref: ${{github.event.inputs.merged_sha || github.event.inputs.sha}}

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}

      - uses: DevExpress/testcafe-build-system/actions/read-artifacts@main
        with:
          package-name: 'testcafe'
          is-docker: ${{ inputs.is-docker }}

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: |
          echo "dir=$(npm config get cache)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        if: ${{ !env.NO_CACHE }}
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
        if: ${{ !inputs.is-docker }}
      - run: npm install
        if: ${{ inputs.is-docker }}

      - name: 'Start BrowserStackLocal Tunnel'
        if: ${{ inputs.is-browserstack }}
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: start
          local-logging-level: all-logs
          local-identifier: random

      - run: ${{ inputs.test-script }}
        timeout-minutes: ${{ inputs.timeout }}

      - name: 'Stop BrowserStackLocal'
        if: ${{ inputs.is-browserstack }}
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: stop
        
      - name: Save result
        id: save-result
        if: always()
        shell: bash
        run: echo "test_${{ matrix.test-group }}=${{ job.status }}" >> "$GITHUB_OUTPUT"
  
  get-result-status:
    if: ${{ !cancelled() }}
    needs: test
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.status.outputs.result }}
    steps:
      - uses: actions/github-script@v6
        id: status
        with:
          result-encoding: string
          script: |
            const statuses = ${{ toJSON(needs.test.outputs.*) }};

            for (let i = 0; i < ${{ inputs.matrix-jobs-count }}; i++) {
              if (statuses[i] !== 'success')
                return 'failure';
            }

            return 'success';

  set-result-status:
    if: always()
    needs: get-result-status
    runs-on: ubuntu-latest
    steps:
      - uses: DevExpress/testcafe-build-system/actions/set-status@main
        if: always()
        with:
          status: ${{ needs.get-result-status.outputs.status || 'failure' }}

      - name: Exit with error
        if: ${{ needs.get-result-status.outputs.status != 'success' }}
        run: exit 1