name: Test Functional (Local Edge)

on:
  workflow_dispatch:
    inputs:
      sha:
        description: 'The test commit SHA or ref'
        required: true
        default: 'master'
      merged_sha:
        description: 'The merge commit SHA'
      deploy_run_id:
        description: 'The ID of a deployment workspace run with artifacts'
jobs:
  test:
    uses: ./.github/workflows/test-functional.yml
    with:
      matrix-jobs-count: 5
      timeout: 45
      test-script: 'npx gulp test-functional-local-headless-edge-run --steps-as-tasks'
